html,
body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: transparent !important;
  background-image: url("/images/hero.png");
  background-size: 100% 240px;
  background-position: initial;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
}

@media (max-width: 768px) {
  html {
    background-size: 100% 152px;
  }
}
